body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px; 
    background-color: lightpink;
}

#logo {
    margin: 0px; 
    padding: 9px;
    color: white;
    font-family: "Fredoka One", sans-serif;
}

ul {
    margin: 0px;
}

body > header { 
    background-color: rgb(239, 88, 113);
    color: white;
    display: flex; 
    height: 12vh;
    align-items: center;
    justify-content: space-around;
} 

#nav-ul {
    display: flex;
}

#nav-ul > li{
   padding: 8px; 
   margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px; 
    border: 1px solid white; 
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto; 
    font-size: 1.5vw; 
   
}

#main-content {
    display: flex;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

aside {
    padding: 8px;
    margin-left: 8px;
}

body > footer {
    background-color: rgb(239, 88, 113); 
    display: flex;
}

img{
    border-radius: 50%;
}

footer > h2 {
    padding: 20px;
}

#footer-ul {
    display: flex;
    list-style: none;
    padding-top: 20px;
}

#footer-ul > div > li{
    margin-left: 50px;
    
}

#footer-ul > div > li > a {
    color: white;
    text-decoration: none;
}